<!DOCTYPE html>
<html>
  <head lang="en">
      <meta charset="UTF-8">
      <title>Art.io</title>
      <script src="{{ url_for('static', filename='javascript/jquery-3.2.1.min.js') }}"></script>
      <script src="{{ url_for('static', filename='javascript/printer.js') }}"></script>
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/printer.css') }}">
  </head>
  <body>
    <div class="container">
      <!--
      <div class="system_info">
        <h1>Art.io</h1>
        <p>System status: <em>ONLINE</em></p>
      </div>

      <div class="controls">
        <a href="/my-printer">Got a printer?</a>
      </div>
      -->
      <div class="paper scrollprinter">
        <div class="content">
        <header>
          <p class="date">Monday 23 April 2018</p>
          <p class="timestamp">Printed at 4:24pm</p>
        </header>
        <div class="explanation">
          <h1>Hello!</h1>
          <p>What do you see in Mark Rothko's <i>New Forms</i> ?</p>
          <form action="/post" method="post">
              <input style="display:none" type="text" name="name"/>
              <textarea name="message" rows="10" cols="40" style="font-size: 16px">
              </textarea>
              <input class="submit_button" type="submit" value="Send"/>
          </form>
          <div style="height: 400px;"></div>
        </div>
      </div>
      </div>
    </div>
  </body>
</html>
