<!DOCTYPE html>
<html>
  <head lang="en">
      <meta charset="UTF-8">
      <title>Art.io</title>
      <script src="{{ url_for('static', filename='javascript/jquery-3.2.1.min.js') }}"></script>
      <script src="{{ url_for('static', filename='javascript/printer.js') }}"></script>
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/printer.css') }}">
  </head>
  <body>
    <div class="container">
      <!--
      <div class="system_info">
        <h1>Art.io</h1>
        <p>System status: <em>ONLINE</em></p>
      </div>

      <div class="controls">
        <a href="/my-printer">Got a printer?</a>
      </div>
      -->
      <div class="paper scrollprinter">
        <div class="content">
        <header>
          <p class="date">Monday 23 April 2018</p>
          <p class="timestamp">Printed at 4:24am</p>
        </header>
        <div class="explanation">
          <h1>Hello!</h1>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

          <div style="height: 400px;"></div>
        </div>
      </div>
      </div>
    </div>
  </body>
</html>
