<!DOCTYPE html>
<html>
  <head lang="en">
      <meta charset="UTF-8">
      <title>Art.io</title>
      <link rel="shortcut icon" href="static/assets/img/ic_printer_bw_nopin.png">
      <script src="{{ url_for('static', filename='javascript/jquery-3.2.1.min.js') }}"></script>
      <script src="{{ url_for('static', filename='javascript/printer.js') }}"></script>
      <script src="{{ url_for('static', filename='javascript/app.js') }}"></script>
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/printer.css') }}">
  </head>
  <body>
    <div class="container" id="container">

      <!--<div class="system_info">
        <h1>Art.io</h1>
        <p>System status: <em>ONLINE</em></p>
      </div>
      -->

      <div class="controls">
        <a href="/">Restart</a>
      </div>

      <div class="paper scrollprinter">
        <div class="content">
        <header>
          <p class="date">Monday 23 April 2018</p>
          <p class="timestamp">Printed at 4:24pm</p>
        </header>
        <div class="explanation">
          <h1>Hello!</h1>
          <p>What does Mark Rothko's <i>No. 14</i> bring to your mind?  </p>
          <form>
              <input style="display:none" type="text" name="name"/>
              <textarea id="textarea" name="message" rows="10" cols="40"></textarea>
              <input onclick="send()" class="submit_button" type="submit" value="Send"/>
          </form>
        </div>
      </div>
      </div>
    </div>
  </body>
</html>
